<div class="modal-dialog text-left">
    <div class="modal-content">
        <div class="modal-header">
            <div class="close" data-dismiss="modal" aria-hidden="true" action="close">×</div>
            <h4 class="modal-title"><i class="fa fa-plus"></i> ADD NEW VIEW</h4>
        </div>
        <div class="modal-body">
            <div class="form form-horizontal">
                 <div editor="view-name"></div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn btn-link btn-sm" action="close">CLOSE</div>
            <div class="btn btn-success btn-sm" action="add">ADD</div>
        </div>
    </div>
</div>
