<div class="modal-dialog text-left">
    <div class="modal-content">
        <div class="modal-header">
            <div class="close" data-dismiss="modal" aria-hidden="true" action="close">×</div>
            <h4 class="modal-title text-danger"><i class="fa fa-close"></i> LOAD ERROR</h4>
        </div>
        <div class="modal-body" region="body">
            <p class="info-text"><b>{{viewName}} does not exist. Do you want to create it?</b></p>
        </div>
        <div class="modal-footer">
            <div class="btn btn-link btn-sm" action="close">NO</div>
            <div class="btn btn-success btn-sm" action="create">YES</div>
        </div>
    </div>
</div>
