<div class="modal-dialog text-left">
    <div class="modal-content">
        <div class="modal-header">
            <div class="close" data-dismiss="modal" aria-hidden="true" action="close">×</div>
            <h4 class="modal-title"><i class="fa fa-floppy-o"></i> Delete View {{viewName}}</h4>
        </div>
        <div class="modal-body" region="body">
            <p class="info-text">Are you sure to delete this view permanently?</p>
        </div>
        <div class="modal-footer">
            <div class="btn btn-link btn-sm" action="close">NO</div>
            <div class="btn btn-success btn-sm" action="delete">YES</div>
        </div>
    </div>
</div>
