<div class="modal-dialog text-left">
    <div class="modal-content">
        <div class="modal-header">
            <div class="close" data-dismiss="modal" aria-hidden="true" action="close">×</div>
            <h4 class="modal-title"><i class="fa fa-flash"></i> Export View</h4>
        </div>
        <div class="modal-body">
            <div class="form form-horizontal">
                 <div editor="view-name"></div>
            </div>
            <div class="overwrite-holder clearfix hidden">
                <div class="pull-left" style="margin:0.5em;margin-left: 0;"><span>Do you want to overwrite it?</span></div>
                <div class="btn btn-xs btn-danger" style="margin:0.5em;" action="overwrite-yes"><span>YES</span></div>
                <div class="btn btn-xs btn-success btn-outline" style="margin:0.5em;" action="overwrite-no"><span>NO</span></div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn btn-link btn-sm" action="close">CLOSE</div>
            <div class="btn btn-success btn-sm" action="export">EXPORT</div>
        </div>
    </div>
</div>
