<!-- <div class="theme-container">
	<div class="info-text">
		<span>THEME COLORS</span>
	</div>
	<div class="theme-list-item primary clearfix" action="get-color" data-color="primary">
		<div class="pull-left color-name"><span>@brand-primary</span></div>
		<div class="pull-right circle-holder"><div class="circle"></div></div>
	</div>
	<div class="theme-list-item info clearfix" action="get-color" data-color="info">
		<div class="pull-left color-name"><span>@brand-info</span></div>
		<div class="pull-right circle-holder"><div class="circle"></div></div>
	</div>
	<div class="theme-list-item success clearfix" action="get-color" data-color="success">
		<div class="pull-left color-name clearfix"><span>@brand-success</span></div>
		<div class="pull-right circle-holder"><div class="circle"></div></div>
	</div>
	<div class="theme-list-item warning clearfix" action="get-color" data-color="warning">
		<div class="pull-left color-name"><span>@brand-warning</span></div>
		<div class="pull-right circle-holder"><div class="circle"></div></div>
	</div>
	<div class="theme-list-item danger clearfix"  action="get-color" data-color="danger">
		<div class="pull-left color-name"><span>@brand-danger</span></div>
		<div class="pull-right circle-holder"><div class="circle"></div></div>
	</div>
</div> -->
<div class="tabs-container">
	<div class="tabs clearfix">
		<div activate="single" class="pull-left tab" tabId="View"><span>View</span></div>
		<div activate="single" class="pull-left tab" tabId="Data"><span>Data</span></div>
		<!-- <div activate="single" class="pull-left tab" tabId="Elements"><span>Elements</span></div> -->
	</div>
	<div region="tabs"></div>
	<div class="buttons-holder">
		<span class="save-container" action="export-builder"><i class="fa fa-flash"></i> EXPORT AS VIEW</span>
		<span class="close-container text-danger" action="close-builder"><i class="fa fa-close"></i> CLOSE</span>
	</div>
	<div class="clip-editing-holder" region="group-editor"></div>
</div>