<div class="modal-dialog text-left">
    <div class="modal-content">
        <div class="modal-header">
            <div class="close" data-dismiss="modal" aria-hidden="true" action="close">×</div>
            <h4 class="modal-title"><i class="fa fa-floppy-o"></i> Save Layout {{viewName}}</h4>
        </div>
        <div class="modal-body" region="body">
            <p class="info-text text-warning">You are switching away from current configuration view. Your configuration will be lost.</p>
            <p class="info-text">Do you want to save your current configuration?</p>
        </div>
        <div class="modal-footer">
            <div class="btn btn-link btn-sm" action="close">NO</div>
            <div class="btn btn-success btn-sm" action="save">YES</div>
        </div>
    </div>
</div>
