<div class="clearfix">
	<div class="switch-holder pull-right">
		<div class="remote-switch">
			<div class="switch-inner">
				<label for="remote-switch">
					<input type="checkbox" id="remote-switch">
					<div class="slider">
						<span class="local-text">LOCAL</span
						><span class="remote-text">REMOTE</span>
						<div class="inner-slider"></div>
					</div>
				</label>
			</div>
		</div>
	</div>
</div>
<div class="url-editor">
	<div class="form">
		<div editor="url"></div>		
	</div>
	<div class="btn-holder">
		<div class="btn btn-xs btn-info" action="fetch-remote"><span><i class="fa fa-refresh"></i> FETCH</span></div>
	</div>
</div>
<div class="data-editor">
	<div class="form">
		<div editor="data-content"></div>
	</div>
</div>