<div class="edit-tabs clearfix">
	<div activate="editing" class="pull-left tab" tabId="html">HTML</div>
	<div activate="editing" class="pull-left tab" tabId="less">LESS</div>
</div>
<div class="tab-contents">
	<div class="form">
		<div class="html-editors">
			<div editor="html"></div>
		</div>
		<div class="less-editors">
			<div editor="less"></div>
		</div>
	</div>
</div>
<div class="datakey-editor-holder">
	<div class="form form-horizontal"><div editor="datakey"></div></div>
</div>
<div class="edit-buttons-holder clearfix">
	<div class="btn btn-primary pull-left" action="apply">APPLY</div>
	<div class="btn btn-primary btn-outline pull-left" action="close">CLOSE</div>
	<div class="btn btn-danger pull-right" action="delete">DELETE</div>
</div>