/**
 * @author: Patrick Zhu
 * @created: 1/23/2017
 */

@side-background: darken(@background, 10%);
@side-border: darken(@border, 10%);
@side-menu-width: 230px;
@side-menu-inital: -230px;

html,
body,
[region="app"] {
	height: 100%;
	overflow: hidden;
	.regional-main {
		height: 100%;
	}
}

.region-contexts {
	height: 100%;
	//------------------------ styling for create context ------------------------//
	.regional-create {
		height: 100%;
		width: 100%;
		background-color: transparent;
		position: relative;
		.layout-bar {
			flex: 0 0 3px;
			background-color: @border;
		}
		.region-cover {
			position: absolute;
			background-color: #fff;
			z-index: 5;
			opacity: 0.8;
			border-radius: 6px;
		}
		.locker {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: 3;
			.region-generate-view {
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				z-index: 4;
				.region {
					&.active {
						background: repeating-linear-gradient(
							-45deg,
							@background,
							@background 10px,
							@border 10px,
							@border 20px
						);
					}
				}
			}
		}
		.view-menu {
			position: absolute;
			left: 0;
			top: 0;
			width: 600px;
			z-index: 6;
			background-color: @background;
			border: 1px solid @border;
			box-shadow: 3px 3px 5px @border;
			.view-menu-top-holder {
				.view-html-toggle-holder {
					width: 88px;
					padding: @grid-gutter-width / 2 0 0 @grid-gutter-width / 2;
					.onoffswitch {
					    position: relative; width: 100%;
					    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
					}
					.onoffswitch-checkbox {
					    display: none;
					}
					.onoffswitch-label {
					    display: block; 
					    overflow: hidden; 
					    cursor: pointer;
					    border: 2px solid darken(@border, 10%);
					    border-radius: 20px; 
					    margin-bottom: 0 !important;
					    //
					    box-shadow: 1px 1px 2px darken(@border, 10%);
					}
					.onoffswitch-inner {
					    display: block; width: 200%; margin-left: -100%;
					    transition: all 0.1s ease-in 0s;
					}
					.onoffswitch-inner:before, .onoffswitch-inner:after {
					    display: block; float: left; width: 50%; padding: 0; height: 25px;  line-height: 25px; 
					    font-size: 0.9em; color: #fff; font-weight: 600;
					    box-sizing: border-box;
					}
					.onoffswitch-inner:before {
					    content: "View";
					    padding-left: @grid-gutter-width;
					    background-color: @brand-info; color: #fff;
					}
					.onoffswitch-inner:after {
					    content: "Raw";
					    padding-right: @grid-gutter-width;
					    background-color: @brand-warning; color: #fff;
					    text-align: right;
					}
					.onoffswitch-switch {
					    display: block; width: 16px; height: 16px; margin: 6px; margin-bottom: 0 !important;
					    background: #fff;
					    position: absolute; top: 0px; bottom: 0;
					    right: 55px;
					    border: 2px solid @border; 
					    border-radius: 20px;
					    transition: all 0.1s ease-in 0s; 
					}
					.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
					    margin-left: 0;
					}
					.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
					    right: 0;
					}
				}
				.tabs {
					padding: @grid-gutter-width / 2 @grid-gutter-width / 2 0 @grid-gutter-width / 2;
					text-align: center;
					width: 510px;
					.tab {
						width: 70px;
						padding: @grid-gutter-width / 2;
						border-top: 1px solid @border;
						display: inline-block;
						>span {
							font-weight: 600;
							color: @gray-light;
						}
						&.center-tab {
							border-left: 1px solid @border;
							&+.center-tab {
								border-right: 1px solid @border;
							}
						}
						&.pull-left {
							border-right: 1px solid @border;
							border-left: 1px solid @border;
							/* &:first-child {
								border-left: 1px solid @border;
							} */
						}
						&.pull-right {
							border-left: 1px solid @border;
							&:last-child {
								border-right: 1px solid @border;
							}
						}
						&.active {
							background-color: @background;
							>span {
								font-weight: 600;
								color: #333;
							}
							&.pull-left,
							&.center-tab {
								border-left: 2px solid @border;
								border-top: 2px solid @border;
								border-right: 2px solid @border; 

								/* &+.pull-left {
									border-left: none;
								} */
							}
							&.pull-right {
								border-left: 2px solid @border;
								border-top: 2px solid @border;
								border-right: 2px solid @border; 

								&+.pull-right {
									border-right: none;
								}
							}
						}
					}
				}
			}
			.view-menu-middle-holder {
				border-top: 2px solid @border;
				margin-top: -2px;
				height: 450px;
				.view-content {
					height: 100%;
					.view-menu-input-holder {
						padding: @grid-gutter-width / 2;
						height: 50px;
						input {
							width: 100%;
							height: 100%
						}
					}
					.view-menu-list {
						border-top: 1px solid @border;
						padding: @grid-gutter-width / 2;
						height: 400px;
						overflow-y: auto;
						.view-menu-list-item {
							border: 1px solid @border;
							box-shadow: 3px 3px 5px @border;
							margin-bottom: @grid-gutter-width / 2;
							background-color: #fff;
							padding: @grid-gutter-width / 2;
							>span {
								font-weight: 600;
							}
							&:hover {
								cursor: pointer;
								background-color: darken(@background, 10%);
							}
							&:last-child {
								margin-bottom: @grid-gutter-width / 3 * 2;
							}
							&.active {
								background-color: #333;
								color: #fff;
							}
						}
					}
				}
				.html-content {
					height: 100%;
					padding: @grid-gutter-width / 2;
					textarea {
						height: 100%;
						width: 100%;
						resize: none;
					}
				}
				.svg-content,
				.editor-content {
					height: 100%;
					padding: @grid-gutter-width / 2;
					.svg-list,
					.editor-list {
						width: 30%;
						height: 100%;
						border-right: 1px solid @border;
						padding-right: @grid-gutter-width / 2;
						overflow-y: auto;
						.svg-list-item,
						.editor-list-item {
							background-color: #fff;
							margin-bottom: @grid-gutter-width / 2;
							padding: @grid-gutter-width / 2;
							box-shadow: 2px 2px 4px @border;
							//overflow ellipsis
							white-space: nowrap; 
							overflow: hidden;
							text-overflow: ellipsis;
							>span {
								font-size: 0.9em;
								font-weight: 600;
							}
							&.active {
								color: #fff;
								background-color: #000;
							}
							&.linked {
								background-color: @brand-success;
								color: #fff;
								&.active {
									color: #fff;
									background-color: #000;//for overwrite linked
								}
							}
						}
					}
					.textarea-holder {
						width: 70%;
						height: 100%;
						padding-left: @grid-gutter-width / 2;
						textarea {
							height: 100%;
							width: 100%;
							resize: none;
						}
					}
				}
				.data-content {
					height: 100%;
					.data-input-holder {
						padding: @grid-gutter-width / 2;
						height: 50px;
						position: relative;
						.data-url-holder {
							width: 60%;
							height: 100%;
							input[type="text"] {
								width: 100%;
								height: 100%
							}
						}
						.btn-holder {
							//width: 18%;
							padding: 0 @grid-gutter-width / 2;
							.btn-info {
								color: @gray-lighter;
								&.active {
									color: #fff;
								}
							}
						}
						#remote-switch{
							list-style-type: none;
							padding-left: 0;
							margin-bottom: 0;
							li{
								//padding-top: 0.5em;
								.switch {
									position: relative;
									display: inline-block;
									width: 140px;
									height: 35px;
									padding-bottom: 2px;
								}
								/* Hide default HTML checkbox */
								.switch input {
								    display: none;
								}

								/* The slider */
								.slider {
								    position: absolute;
								    cursor: pointer;
								    top: 0;
								    left: 0;
								    right: 0;
								    bottom: 0;
								    background-color: #fff;
								    border: 1px solid darken(@border, 10%);
								    -webkit-transition: .5s;
								    transition: .5s;
								    line-height: 23px;
								    .cli-text,
								    .gui-text{
								    	position: relative;
								    	display: inline-block;
								    	width: 50%;
								    	text-align: center;
								    	font-size: 0.8em;
								    	font-weight: 600;
								    	line-height: 35px;
								    	z-index: 3;
								    }
								    .gui-text{
								    	color: #fff;
								    	padding-left: 2px;
								    }
								    .cli-text{
								    	color: @gray-light;
								    	padding-right: 2px;
								    }
								    .inner-slider{
									    position: absolute;
									    width: 70px;
										bottom: 2px;
									    left: 2px;
									    top: 2px;
									    border: 1px solid @brand-primary;
									    -webkit-transition: .5s;
									    transition: .5s;
										z-index: 1;
										.fill-up{
											position: absolute;
											background-color: @brand-primary;
											left: 1px;
											top: 1px;//0.9px for fire-fox bug, 1px causes bug
											right: 1px;
											bottom: 1px;
											z-index: 2;
										}
										@-moz-document url-prefix() {
										    .fill-up{
										        top: 0.9px !important;//0.9px for fire-fox bug, 1px causes bug
										    }
										}
									}
								}
								input:checked + .slider {
								    background-color: #fff;
								    .gui-text{
								    	color: @gray-light;
								    }
								    .cli-text{
								    	color: #fff;
								    }
								}
								input:focus + .slider {
								    //box-shadow: 0 0 1px @brand-info;
								}
								input:checked + .slider > .inner-slider {
								    transform: translateX(64px);
								}

								input:not(:checked) + .slider > .inner-slider {
									border: 1px solid @gray-light;
									.fill-up{
										background-color: @gray-light;
									}
								}

								/* Rounded sliders */
								.slider.round {
								    border-radius: 34px;
								}
								.slider.round:before {
								    border-radius: 50%;
								}
							}
						}	
					}
					.data-editor-holder {
						height: 400px;
						padding: @grid-gutter-width / 2;
						border-top: 1px solid @border;
						textarea {
							height: 100%;
							width: 100%;
							resize: none;
						}
					}
				}
			}
			.view-menu-button-holder {
				padding: @grid-gutter-width / 2;
				border-top: 1px solid @border;
				.expand-holder {
					display: inline-block;
				}
			}
			&.expand {
				//full screen mode
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				width: 100%;
				background-color: @background;
				opacity: 0.85;
			}
		}
		.side-menu-trigger {
			position: absolute;
			right: 0px;
			top: 0px;
			z-index: 6;
			background-color: @side-background;
			height: 2.4em;
			width: 2.4em;
			padding-left: 0.75em;
			line-height: 1.75em;
			text-align: center;
			border-bottom-left-radius: 100%;
			box-shadow: -1px 1px 3px @side-background;
			cursor: pointer;
			> i {
				color: #000;
			}
			&.active {
				transition: 0.25s;
				right: @side-menu-width - 1;
			}
			transition: 0.25s;
		}
		.side-menu-list {
			position: absolute;
			right: @side-menu-inital;
			top: 0px;
			bottom: 0px;
			z-index: 6;
			width: @side-menu-width;
			text-align: center;
			background-color: @side-background;
			box-shadow: -1px 1px 3px @side-background;
			.side-menu-item {
				border-bottom: 1px solid @side-border;
				cursor: pointer;
				position: relative;
				z-index: 7;
				>span {
					font-weight: 600;
					color: #000;
					position: relative;
					z-index: 8;
				}
				>div {
					position: relative;
					z-index: 8;
				}
				&:not(.side-menu-section) {
					&:not(.current-name-holder){
						&:hover{
							opacity: 0.5;
						}
					}
				}
				&.side-menu-section {
					background-color: lighten(@side-background, 10%);
					text-align: left;
					font-size: 0.8em;
					cursor: default;
					>span{
						color: @gray;
					}
					.new-button-holder {
						.new-button {
							margin-top: -3px;
						}
					}
				}
				&.current-name-holder{
					cursor: default;
				}
			}
			.operations-holder {
				border-bottom: 1px solid @side-border;
				.left,
				.right {
					float: left;
				}
				.left {
					width: 50%;
					border-right: 1px solid @side-border;
					text-align: center;
					font-weight: 600;
					.operations-item {
						line-height: 3.75em;
						cursor: pointer;
						&:not(:last-child) {
							border-bottom: 1px solid @side-border;
						}
						&.hide-button {
							.hide-point {
								//text-decoration:line-through;
							}
						}
						&:hover {
							opacity: 0.5;
						}
						&.active {
							box-shadow: inset 0 5px 15px darken(@side-border, 30%);
						}
					}
				}
				.right {
					width: 50%;
					.operations-item {
						cursor: pointer;
						>span {
							font-weight: 600;
						}
						&:hover {
							opacity: 0.5;
						}
						&:not(:last-child) {
							border-bottom: 1px solid @side-border;
						}
					}
				}
			}
			.side-menu-templates-holder{
				height: 400px;
				overflow-y: auto;
				.side-menu-item {
					cursor: default;
					text-align: left;
					.side-menu-item-text{
						cursor: pointer;
						&.active {
							color: @brand-primary;
						}
					}
					[action="delete-template"] {
						color: @gray;
					}
				}
			}
			&.active {
				transition: 0.25s;
				right: 0px;
			}
			transition: 0.25s;
		}
		//=========== styling for arrow menu on hovering end points ===========//
		.region-arrows {
			.regional-create-arrows {
				.end-point-menu {
					position: absolute;
					height: 75px;
					width: 75px;
					z-index: 2;
					.indicator {
						&.up {
							position: absolute;
							left: 27px;
							top: 0;
							cursor: pointer;
						}
						&.down {
							position: absolute;
							left: 27px;
							bottom: -2px;
							cursor: pointer;
						}
						&.left {
							position: absolute;
							left: 0;
							top: 25px;
							cursor: pointer;
						}
						&.right {
							position: absolute;
							right: 0px;
							top: 25px;
							cursor: pointer;
						}
						&.vertical {
							position: absolute;
							right: -10px;
							top: 26px;
							transform: scale(1, 2);
						}
						&.horizontal {
							position: absolute;
							bottom: -18px;
							left: 25px;
							transform: scale(2, 1);
						}
						.text-muted {
							color: lighten(@gray-light, 30%) !important;
						}
					}
					.close {
						position: absolute;
						right: 0;
						top: 0;
						cursor: pointer;
					}
				}
			}
		}
		//=========== styling for guide lines ===========//
		.region-guide {
			position: absolute;
			left: 0px;
			right: 0px;
			top: 0px;
			bottom: 0px;
			z-index: -1;
			background-color: transparent;
			.regional-create-guide{
				position: absolute;
				left: 0px;
				right: 0px;
				top: 0px;
				bottom: 0px;
				//horizontal guide line
				.horizontal-line {
					position: absolute;
					background-color: @border;
					height: 1px;
					left: 0;
					right: 0;
					top: 0;
				}
				//vertical guide line
				.vertical-line {
					position: absolute;
					background-color: @border;
					width: 1px;
					left: 0;
					top: 0;
					bottom: 0;
				}
				.divide-line-vertical {
					position: absolute;
					width: 1px;
					border-left: 1px dashed @border;
					top: 0;
					bottom: 0;
					left: 0;
				}
				.divide-line-horizontal {
					position: absolute;
					height: 1px;
					border-top: 1px dashed @border;
					left: 0;
					right: 0;
					top: 0;
				}
			}
		}
		//=========== styling for svg layout ===========//
		.region-layout {
			height: 100%;
			width: 100%;
			position: relative;
			background-color: transparent;
			[data-view-name="Create.Layout"] {
				height: 100%;
				width: 100%;
				svg {
					position: absolute !important; //fix svg tag styling problem
					top: 0;
					left: 0;
					z-index: 1;
					.end-point {
						cursor: pointer;
						&:hover {
							fill: @brand-primary;
						}
						&.active {
							fill: @brand-primary;
						}
					}
				}
			}
		}
	}
}

//------------------------------- overlay styling -------------------------------//
.overlay {
	.text-warning {
		color: @brand-warning !important;
	}
}
.create-overlay {
	background-color: transparent;
	z-index: 999;
}

.danger-title {
	.modal-title {
		color: @brand-danger;
	}
}

.warning-title {
	.modal-title {
		color: @brand-warning;
	}
}

.save-overlay {
	.new-warning {
		padding-bottom: @grid-gutter-width;
	}
}

.generate-overlay {
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.5);
	.region-tabs {
		width: 600px;
		height: 450px;
		.regional-code {
			textarea {
				user-select:text !important;
				height: 450px;
				resize: none;
			}
		}
	}
}

//------------------------------- animation -------------------------------//
@keyframes flash {
    0% {
        background-color: @side-background;
    }
    50% {
        background-color: @brand-primary;
    }
    100% {
        background-color: @side-background;
    }
}

.flash {
    animation-name: flash;
    animation-duration: 1000ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}