<div class="{{#if layout}}view-layout-menu{{else}}view-edit-menu{{/if}}">

		<div class="export-holder" action="export-parent"><span>EXPORT</span></div>

	{{#if layout}}
		<div class="view-name">{{#if viewName}}<span>{{viewName}}</span>{{else}}<span>choose to edit</span>{{/if}}</div>
	{{else}}
		<div class="view-name"><span>{{viewName}}</span></div>
	{{/if}}
	<div class="layout-edit-switch-holder">
		<div class="layout-edit-switch">
			<div class="switch-inner">
				<label for="layout-edit-switch" action="switch-method">
					<input type="checkbox" id="layout-edit-switch" {{#if edit}}checked{{/if}}>
					<div class="slider">
						<span class="layout-text">LAYOUT</span
						><span class="edit-text">EDIT</span>
						<div class="inner-slider"></div>
					</div>
				</label>
			</div>
		</div>
	</div>
	{{#if layout}}
		<div class="apply-button-holder">
			<div class="btn btn-block btn-default" action="save-layout"><span><i class="fa fa-floppy-o"></i> SAVE</span></div>
			<div class="dirty-bit hidden"><i class="fa fa-circle"></i></div>
		</div>
	{{/if}}

		<div class="data-editor-holder {{#if edit}}edit-menu{{/if}}{{#if layout}}layout-menu{{/if}}">
			<div class="editor-name clearfix">
				<div class="pull-left"><span>PARENT DATA</span></div>
				<div class="pull-right">
					<label for="parent-data-remote-switch">
						<span>remote</span>
						<input type="checkbox" id="parent-data-remote-switch">
					</label>
				</div>
			</div>
			<div class="url-editor hidden">
				<input type="text" id="parent-remote-url" placeholder="url for remote fetch...">
				<div class="remote-fetch btn btn-xs btn-info" action="parent-remote-fetch"><span><i class="fa fa-refresh"></i> FETCH</span></div>
			</div>
			<div class="data-editor local" id="parent-data-content"></div>
		</div>

	<div class="switch-views-holder">
		<div class="switch-title"><span>View List</span></div>
		{{#items}}
			<div class="view-list-item">
				<div class="{{#if (../xif3 name ../viewName)}}active{{/if}}" action="switch-view" activate="single">
					{{#if (../xif3 source "remote")}}<!-- <i class="fa fa-cloud"></i> -->{{/if}}
					{{#if (../xif3 source "local")}}<i class="fa fa-database"></i>{{/if}}
					<span class="text">{{name}}</span>
					{{#if ../layout}}
						{{#if (../xif3 source "local")}}
							<div class="delete-holder pull-right">
								<i class="fa fa-lg fa-close" action="delete-local-view" data-name="{{name}}"></i>
							</div>
						{{/if}}
					{{/if}}
				</div>
			</div>
		{{/items}}
	</div>
</div>