<div class="left-container">
	<div class="sliding-button" action="slide"><i class="fa fa-bars closed"></i><i class="fa fa-arrow-left opened"></i></div>
	<div region="menu"></div>
</div>
<div class="right-container">
	<div region="preview"></div>	
	<div region="mesh"></div>
	<!-- <div region="guide"></div> -->
	<div class="end-point-menu hidden">
		<div class="end-point-menu-item up indicator" action="delete-line" data-direction="up"><i class="end-point-menu-item fa fa-2x fa-close"></i></div>
		<div class="end-point-menu-item down indicator" action="delete-line" data-direction="down"><i class="end-point-menu-item fa fa-2x fa-close"></i></div>
		<div class="end-point-menu-item left indicator" action="delete-line" data-direction="left"><i class="end-point-menu-item fa fa-2x fa-close"></i></div>
		<div class="end-point-menu-item right indicator" action="delete-line" data-direction="right"><i class="end-point-menu-item fa fa-2x fa-close"></i></div>
	</div>
</div>