<div class="left-container">
	<div class="view-preview-menu">
		<div class="title"><span class="text">VIEWS</span></div>
		{{#items}}
		<div class="view-list-item" action="preview-view" activate="single" {{#if remote}}source="remote"{{/if}} {{#if local}}source="local"{{/if}}>
			{{#if remote}}<!-- <i class="fa fa-cloud"></i> --> {{/if}}
			{{#if local}}<i class="fa fa-database"></i> {{/if}}
			<span class="text">{{name}}</span>
		    <div class="edit-holder pull-right" action="edit-view"><i class="fa fa-edit"></i></div>
		    <div class="indicator-holder pull-right"><i class="fa fa-eye"></i></div>
		</div>
		{{/items}}
		<div class="footer"><a href="http://bluekvirus.github.io/Stage.js/#navigate/Home">Super charged by Stage.js framework. <i class="fa fa-github"></i></a></div>
	</div>
</div>
<div class="right-container" region="preview"></div>