<div class="end-point-menu hidden">
	<div class="end-point-menu-item up" action="delete" data-direction="up"><i class="end-point-menu-item fa fa-2x fa-arrow-circle-o-up"></i></div>
	<div class="end-point-menu-item down" action="delete" data-direction="down"><i class="end-point-menu-item fa fa-2x fa-arrow-circle-o-down"></i></div>
	<div class="end-point-menu-item left" action="delete" data-direction="left"><i class="end-point-menu-item fa fa-2x fa-arrow-circle-o-left"></i></div>
	<div class="end-point-menu-item right" action="delete" data-direction="right"><i class="end-point-menu-item fa fa-2x fa-arrow-circle-o-right"></i></div>
	<div class="end-point-menu-item close" action="close"><i class="end-point-menu-item fa fa-close"></i></div>
</div>