<div class="end-point-menu hidden">
	<div class="end-point-menu-item up indicator" action="delete" data-direction="up"><i class="end-point-menu-item fa fa-2x fa-close"></i></div>
	<div class="end-point-menu-item down indicator" action="delete" data-direction="down"><i class="end-point-menu-item fa fa-2x fa-close"></i></div>
	<div class="end-point-menu-item left indicator" action="delete" data-direction="left"><i class="end-point-menu-item fa fa-2x fa-close"></i></div>
	<div class="end-point-menu-item right indicator" action="delete" data-direction="right"><i class="end-point-menu-item fa fa-2x fa-close"></i></div>
	<!-- <div class="end-point-menu-item close" action="close"><i class="end-point-menu-item fa fa-close"></i></div> -->
	<!-- <div class="end-point-menu-item horizontal indicator" action="drag" data-direction="horizontal"><i class="end-point-menu-item fa fa-2x fa-arrows-h"></i></div>
	<div class="end-point-menu-item vertical indicator" action="drag" data-direction="vertical"><i class="end-point-menu-item fa fa-2x fa-arrows-v"></i></div> -->
</div>