<div class="modal-dialog text-left">
    <div class="modal-content">
        <div class="modal-header">
            <div class="close" data-dismiss="modal" aria-hidden="true" action="close">×</div>
            <h4 class="modal-title text-warning"><i class="fa fa-warning"></i> Delete Template</h4>
        </div>
        <div class="modal-body" region="body">
        	<p><strong>Are you sure to delete this template?</strong></p>
        </div>
        <div class="modal-footer">
            <div class="btn btn-link btn-sm" data-dismiss="modal" action="close"><strong>Close</strong></div>
            <div class="btn btn-warning btn-sm" action="delete"><strong>Delete</strong></div>
        </div>
    </div>
</div>
