<div class="modal-dialog text-left">
    <div class="modal-content">
        <div class="modal-header">
            <div class="close" data-dismiss="modal" aria-hidden="true" action="close">×</div>
            <h4 class="modal-title"><i class="fa fa-exclamation-triangle"></i> Layout Existed</h4>
        </div>
        <div class="modal-body" region="body">
        	<div class="form form-horizontal">
        		<div><strong>You have already generated layout. Do you want to overwrite it?</strong></div>
                <div class="text-danger"><strong>You will lost all the configurations, including the views inserted.</strong></div>
        	</div>
        </div>
        <div class="modal-footer">
            <div class="btn btn-link" data-dismiss="modal" action="close">Close</div>
            <div class="btn btn-danger" action="overwrite">Overwrite</div>
        </div>
    </div>
</div>
