<div class="modal-dialog text-left">
    <div class="modal-content">
        <div class="modal-header">
            <div class="close" data-dismiss="modal" aria-hidden="true" action="close">×</div>
            <h4 class="modal-title"><i class="fa fa-exclamation-triangle"></i> Layout will be changed!</h4>
        </div>
        <div class="modal-body" region="body">
        	<div class="form form-horizontal">
        		<div><strong>The change you intend to make will reset the layout configuration. Do you want to continue?</strong></div>
                <div class="text-warning"><strong>You will lost the configuration for the current region.</strong></div>
        	</div>
        </div>
        <div class="modal-footer">
            <div class="btn btn-link" data-dismiss="modal" action="close">Close</div>
            <div class="btn btn-warning" action="continue">Continue</div>
        </div>
    </div>
</div>
