<div class="modal-dialog text-left">
    <div class="modal-content">
        <div class="modal-header">
            <div class="close" data-dismiss="modal" aria-hidden="true" action="close">×</div>
            <h4 class="modal-title text-primary"><i class="fa fa-info-circle"></i> TIP</h4>
        </div>
        <div class="modal-body" region="body">
        	<div class="form form-horizontal">
                <ul>
                    <li><strong>You can click <span class="text-primary">LOCK</span> to insert view into layout.</strong></li>
                    <li><strong>You can click <span class="text-primary">MESH</span> to adjust the layout you generated.</strong></li>
                </ul>
        	</div>
        </div>
        <div class="modal-footer">
            <div class="btn btn-link" data-dismiss="modal" action="close">Close</div>
        </div>
    </div>
</div>
