[region='group'] {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  z-index: 10;
}

[region='content'],
[region='content'] > *,
[region='string'] .regional-stringview,
[region='string'] .regional-stringview .region-string-container {
  height: 100%;
}

[region='view-lock'] {
  height: 100%;
  width: 100%;
}

[region='group'] > * {
  position: relative;
}

[region='string'] {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

[region='string'] > * {
  z-index: 100;
}

[region="view-lock"] {
  position: absolute;
}

.region-group .regional-group {
  height: 100%;
  position: relative;
  .border
}

.drag-top {
  position: absolute;
  cursor: ns-resize;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  height: 0.5em !important;
  width: 1em !important;
  top: 0 !important;
  background-color: lightgrey;
}

.drag-bottom {
  position: absolute;
  cursor: ns-resize;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  height: 0.5em !important;
  width: 1em !important;
  bottom: 0 !important;
  top: auto !important;
  background-color: lightgrey;
}

.drag-left {
  position: absolute;
  cursor: ew-resize;
  border-bottom-right-radius: 90px;
  border-top-right-radius: 90px;
  height: 1em !important;
  width: 0.5em !important;
  left: 0 !important;
  background-color: lightgrey;
}

.drag-right {
  position: absolute;
  cursor: ew-resize;
  border-bottom-left-radius: 90px;
  border-top-left-radius: 90px;
  height: 1em !important;
  width: 0.5em !important;
  right: 0 !important;
  left: auto !important;
  background-color: lightgrey;
}

.drag-string-right {
  position: absolute;
  cursor: move;
  border-bottom-left-radius: 90px;
  border-top-left-radius: 90px;
  border-bottom-right-radius: 90px;
  border-top-right-radius: 90px;
  height: 0.5em !important;
  width: 0.5em !important;
  right: 0 !important;
  bottom: -0.25em !important;
  left: auto !important;
  top: auto !important;
  background-color: black;
}

.drag-string-left {
  position: absolute;
  cursor: move;
  border-bottom-left-radius: 90px;
  border-top-left-radius: 90px;
  border-bottom-right-radius: 90px;
  border-top-right-radius: 90px;
  height: 0.5em !important;
  width: 0.5em !important;
  left: 0 !important;
  bottom: -0.25em !important;
  top: auto !important;
  right: auto !important;
  background-color: black;
}

[region="tab-html"] textarea,
[region="tab-less"] textarea {
  height: 200px;
}

.delete-group {
  float: right;
}

.toggle-preview {
  display: none;
}

.toggle-borders {
  border-style: none;
}

.toggle-pointer {
  pointer-events: none;
}

.border {
  border-style: dotted;
  border-width: 2px;
  border-color: lightgrey;
}
