/**
 * Theme file for prototype v2
 * @author: Patrick Zhu
 */

@left-menu-width: 600px;
//routine, stretch the height
html,
body,
[region="app"] {
	height: 100%;
	overflow: hidden;
	.regional-main {
		height: 100%;
		.region-contexts {
			height: 100%;
		}
	}
}

.context-ide {
	height: 100%;
	.region-ide-content {
		height: 100%;
		//---------------------------------- styling sheet for view Views ----------------------------------//
		.regional-views {
			height: 100%;
			display: flex;
			.left-container {
				flex: 0 0 @left-menu-width;
				border-right: 1px solid @border;
				.view-preview-menu {
					height: 100%;
					overflow-y: auto;
					padding: @grid-gutter-width / 2 0;
					position: relative;
					.title {
						text-align: center;
						padding: @grid-gutter-width / 2 @grid-gutter-width;
						>span {
							font-weight: 600;
							font-size: 1.7em;
						}
					}
					.view-list-item {
						padding: @grid-gutter-width / 2 @grid-gutter-width;
						> span {
							font-weight: 600;
						}
						.edit-holder,
						.indicator-holder {
							padding: 0 @grid-gutter-width / 2;
							visibility: hidden;
						}
						.edit-holder {
							position: relative;
							z-index: 1;
							padding-right: 0;
						}
						&.active {
							.indicator-holder {
								visibility: visible;
							}
						}
						&:nth-child(even){
							background-color: @background;
						}
						&:hover {
							.edit-holder {
								visibility: visible;
							}
						}
					}
					.footer {
						position: absolute;
						bottom: @grid-gutter-width;
						left: 0;
						right: 0;
						text-align: center;
						>a {
							font-weight: 600;
						}
					}
				}
			}
			.right-container {
				flex: 1 1 0;
				>div {//for the view.$el inside
					height: 100%;
				}
			}
		}

		//---------------------------------- styling sheet for view Layout ----------------------------------//
		.regional-layout {
			
		}

		//---------------------------------- styling sheet for view Edit ----------------------------------//
		.regional-edit {

		}

		//---------------------------------- styling sheet for layout/edit left hand side menu ----------------------------------//
		.regional-layout,
		.regional-edit {
			height: 100%;
			position: relative;
			&.viewport-blur {
				filter: blur(3px);
			}
			.left-container {
				//flex: 0 0 @left-menu-width;
				position: absolute;
				left: 0;
				width: @left-menu-width;
				top: 0;
				bottom: 0;
				border-right: 1px solid @border;
				transition: 0.2s;
				position: relative;
				z-index: 10;
				height: 100%;
				background-color: #fff;
				box-shadow: 0 2px 2px @border;
				&.closed {
					width: 0;
					.sliding-button {
						.opened {
							display: none;
						}
						.closed {
							display: inline-block;
						}
					}
				}
				.sliding-button {
					position: absolute;
					right: -38px;
					top: 0px;
					background-color: rgba(100, 100, 100, 0.8);
					padding: @grid-gutter-width / 4 @grid-gutter-width * 1.2 @grid-gutter-width / 2 @grid-gutter-width / 2;
					border-bottom-right-radius: 100%;
					z-index: 1;
					box-shadow: 1px 0px 1px @gray-lighter;
					>i {
						font-size: 1.1em;
					}
					.opened {
						display: inline-block;
					}
					.closed {
						display: none;
					}
				}
				.region-menu {
					height: 100%;
					.regional-layouteditmenu {
						height: 100%;
						.view-layout-menu,
						.view-edit-menu {
							padding: @grid-gutter-width / 2 0;
							overflow-x: hidden;
							height: 100%;
							width: 100%;
							position: relative;
							.export-holder {
								position: absolute;
								right: @grid-gutter-width / 3;
								top: 2px;
								>span {
									font-weight: 600;
									font-size: 0.9em;
									text-decoration: underline;
								}
							}
							.view-name {
								padding: @grid-gutter-width / 2 @grid-gutter-width 0 @grid-gutter-width;
								text-align: center;
								//border-bottom: 1px solid @border;
								width: 100%;
								white-space: nowrap; 
							    overflow: hidden;
							    text-overflow: ellipsis; 
								> span {
									font-size: 2em;
									font-weight: 600;
								}
							}
							.data-editor-holder {
								position: absolute;
								bottom: 50%;
								left: 0;
								right: 0;
								padding: @grid-gutter-width;
								&.edit-menu {
									top: 120px;
								}
								&.layout-menu {
									top: 185px;
								}
								.editor-name {
									padding:  0 0 @grid-gutter-width / 2 0;
									.pull-left{
										>span {
											font-weight: 600;
										}
									}
									.pull-right {
										label {
											margin: 0;
										}
										input {
											margin-top: 2px;
										}
										span {
											display: inline-block;
											vertical-align: top;
										}
									}
								}
								.url-editor {
									padding: @grid-gutter-width / 4 0;
									position: relative;
									> input {
										width: 100%;
										height: 100%;
									}
									.remote-fetch {
										position: absolute;
										right: @grid-gutter-width  / 4;
										top: 7px;
										>span {
											font-size: 0.8em;
											font-weight: 600;
										}
									}
								}
								.data-editor {
									position: absolute;
									left: @grid-gutter-width;
									right: @grid-gutter-width;
									top: 92px;
									bottom: @grid-gutter-width;
									&.local {
										top: 42px;
									}
								}
							}
							.layout-edit-switch-holder {
								padding: @grid-gutter-width;
								border-bottom: 1px solid @border;
								.layout-edit-switch {
									border: 1px solid #adadad;
									height: 40px;
									padding: 3px;
									.switch-inner {
										width: 100%;
										height: 100%;
										label {
											height: 100%;
											width: 100%;
											input[type="checkbox"] {
												display: none;
											}
											input[type="checkbox"]:checked + .slider {
												.inner-slider {
													background-color: rgba(100, 100, 100, 0.5);
													left: 277px;
												}
												.layout-text {
													color: #aaa;
												}
												.edit-text {
													color: #000;
												}
											}
											input[type="checkbox"]:not(:checked) + .slider {
												.inner-slider {
													background-color: rgba(0, 0, 0, 0.5);
													left: 2px;
												}
												.layout-text {
													color: #000;
												}
												.edit-text {
													color: #aaa;
												}
											}
											.slider {
												height: 100%;
												width: 100%;
												position: relative;
												.layout-text,
												.edit-text {
													display: inline-block;
													width: 50%;
													line-height: 40px - 2 * 3px - 2px;
													text-align: center;
													font-weight: 600;
													font-size: 0.9em;
												}
												.inner-slider {
													width: 50%;
													position: absolute;
													height: 40px - 2 * 3px - 2 * 3px;
													top: 2px;
													transition: .5s;
												}
											}
										}
									}
								}
							}
							.apply-button-holder,
							.switch-button-holder {
								padding: @grid-gutter-width;
								position: relative;
								&.switch-button-holder {
									padding-bottom: @grid-gutter-width / 2;
								}
								&.apply-button-holder {
									//padding-top: @grid-gutter-width / 2;
									//border-top: 1px solid @border;
									border-bottom: 1px solid @border;
								}
								.btn {
									>span {
										font-weight: 600;
									}
								}
								.dirty-bit {
									position: absolute;
									right: @grid-gutter-width * 2;
									top: @grid-gutter-width * 3 / 2;
								}
							}
							.switch-views-holder {
								padding: @grid-gutter-width;
								position: absolute;
								left: 0;
								right: 0;
								bottom: 0;
								top: 50%;
								overflow-y: auto;
								border-top: 1px solid @border;
								.switch-title {
									text-align: center;
									>span {
										font-weight: 600;
										color: #aaa;
									}
								}
								.view-list-item {
									padding: @grid-gutter-width / 2 0;
									&:first-child {
										padding-top: @grid-gutter-width;
									}
									>div {
										font-weight: 600;
										border: 1px solid @border;
										padding: @grid-gutter-width;
										box-shadow: 1px 1px 1px @border;
										&:hover {
											background-color: rgba(155, 155, 155, 0.7);
											color: #000;
										}
										&.active {
											background-color: rgba(0, 0, 0, 0.7);
											color: #fff;
											.delete-holder {
												position: relative;
												z-index: 2; //for higher z-index than view-list-item
												>i {
													color: #fff;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
			.right-container {
				//flex: 1 1 0;
				height: 100%;
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				.context-menu {
					position: absolute;
					top: 0;
					left: 0;
					z-index: 49;
					width: 300px;
					background-color: #fff;
					border: 2px solid @border;
					padding: @grid-gutter-width / 2;
					.info {
						padding: @grid-gutter-width / 2;
						.text {
							font-weight: 600;
						}
					}
					.context-menu-item {
						padding: @grid-gutter-width / 2;
						>span {
							//font-weight: 600;\
							&.text {

							}
							&.info {
								color: #aaa;
							}
						}
						&:nth-child(odd) {
							background-color: @background;
						}
						&:hover {
							background-color: #999;
						}
					}
					// .close-holder {
					// 	position: absolute;
					// 	top: @grid-gutter-width / 4;
					// 	right: @grid-gutter-width / 2;
					// }
				}
				.region-preview,
				.region-guide,
				.region-mesh {
					height: 100%;
					width: 100%;
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					.size-marker {
						background: rgba(0, 0, 0, 0.4);
						color: #fff;
						position: absolute;
						padding: 0 @grid-gutter-width / 4;
						font-weight: 600;
						font-size: 0.7em;
					}
				}
				//============ styling sheet for content-editor view ============//
				.region-content-editor {
					height: 100%;
					width: 100%;
					position: relative;
					display: flex;
					>div {
						height: 100%;
						width: 100%;
						.first-layer-region {
							border: 1px dashed #777;
							&:hover {
								border: 1px solid @brand-info;
							}
							&.active {
								border: 1px solid @brand-primary;
							}
							&.editing {
								background: repeating-linear-gradient(
									-45deg,
									#fff,
									#fff 20px,
									#ddd 20px,
									#ddd 40px
								);
							}
						}
						.size-marker {
							background: rgba(0, 0, 0, 0.4);
							color: #fff;
							position: absolute;
							padding: 0 @grid-gutter-width / 4;
							font-weight: 600;
							font-size: 0.7em;
						}
					}
				}
				//============ styling sheet for preview view ============//
				.region-preview {
					z-index: 1;
					>div {
						height: 100%;
					}
				}
				//============ styling sheet for mesh view ============//
				.region-mesh {
					z-index: 2;
					svg {
						.horizontal-line,
						.vertical-line {
							fill: none;
							stroke: rgba(155, 155, 155, 0.9);
						}
						.end-point {
							cursor: pointer;
							&:hover {
								fill: @brand-primary;
							}
							&.active {
								fill: @brand-primary;
							}
						}
						.layout-line {
							stroke : #DEDEDE; 
							stroke-dasharray: 5;
						}
						.region-outline {
							stroke : #000; 
							stroke-dasharray: 12;	
						}
					}
				}
				//============ styling sheet for guide view ============//
				.region-guide {
					z-index: 3;
					>div {//for view.$el
						height: 100%;
						width: 100%;
						.horizontal-line {
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							height: 1px;
							background-color: rgba(155, 155, 155, 0.9);
							display: none;
						}
						.vertical-line {
							position: absolute;
							left: 0;
							top: 0;
							bottom: 0;
							width: 1px;
							background-color: rgba(155, 155, 155, 0.9);
							display: none;
						}
					}
				}
				.end-point-menu {
					position: absolute;
					height: 75px;
					width: 75px;
					z-index: 3;
					.indicator {
						&.up {
							position: absolute;
							left: 27px;
							top: 0;
							cursor: pointer;
						}
						&.down {
							position: absolute;
							left: 27px;
							bottom: -2px;
							cursor: pointer;
						}
						&.left {
							position: absolute;
							left: 0;
							top: 25px;
							cursor: pointer;
						}
						&.right {
							position: absolute;
							right: 0px;
							top: 25px;
							cursor: pointer;
						}
						&.vertical {
							position: absolute;
							right: -10px;
							top: 26px;
							transform: scale(1, 2);
						}
						&.horizontal {
							position: absolute;
							bottom: -18px;
							left: 25px;
							transform: scale(2, 1);
						}
						.text-muted {
							color: lighten(@gray-light, 30%) !important;
						}
					}
					.close {
						position: absolute;
						right: 0;
						top: 0;
						cursor: pointer;
					}
				}
			}
		}
	}
}

//---------------------------------- styling sheet for overlay/popover views ----------------------------------//
.overlay {
	
	&.confirm-overlay {
		background-color: transparent;
		z-index: 999;
		.modal-dialog {
			width: 640px;
		}
	}

	&.danger-title {
		.modal-title {
			color: @brand-danger;
		}
	}

	&.warning-title {
		.modal-title {
			color: @brand-warning;
		}
	}

	.modal-dialog {
		margin: 0;
	}

	label.control-label {
		//text-align: left;
	}

	&.focused-editing-overlay {
		background-color: rgba(255, 255, 255, 0.7);
		z-index: 999;
		.overlay-inner {
			height: 100%;
			.overlay-content-ct {
				height: 100%;
				width: 100%;
				display: block !important;
				.focused-editing-view {
					display: flex;
					height: 100%;
					//padding: @grid-gutter-width / 2;
					.theme-container {
						flex: 0 0 300px;
						padding: @grid-gutter-width / 2 @grid-gutter-width;
						.info-text {
							padding: @grid-gutter-width / 2 0;
							>span {
								font-weight: 600;
								font-size: 1.6em;
							}
						}
						.theme-list-item {
							//color: #fff;
							padding: @grid-gutter-width / 2 0;
							margin: @grid-gutter-width 0;
							.color-name {
								>span {
									font-weight: 600;
								}
							}
							.circle-holder {
								.circle {
									height: 20px;
									width: 20px;
									border-radius: 50%;
								}
							}
							&:nth-child(odd) {
								background-color: @background;
							}
							&.primary {
								margin-top: @grid-gutter-width / 2;
								.color-name {
									>span {
										//color: @brand-primary;
									}
								}
								.circle-holder {
									.circle {
										background-color: @brand-primary;
									}
								}
							}
							&.info {
								.color-name {
									>span {
										//color: @brand-info;
									}
								}
								.circle-holder {
									.circle {
										background-color: @brand-info;
									}
								}
							}
							&.success {
								.color-name {
									>span {
										//color: @brand-success;
									}
								}
								.circle-holder {
									.circle {
										background-color: @brand-success;
									}
								}
							}
							&.warning {
								.color-name {
									>span {
										//color: @brand-warning;
									}
								}
								.circle-holder {
									.circle {
										background-color: @brand-warning;
									}
								}
							}
							&.danger {
								.color-name {
									>span {
										//color: @brand-danger;
									}
								}
								.circle-holder {
									.circle {
										background-color: @brand-danger;
									}
								}
							}
						}
					}
					.tabs-container {
						flex: 1 1 0;
						padding: @grid-gutter-width;
						position: relative;
						.buttons-holder {
							position: absolute;
							right: @grid-gutter-width;
							top: @grid-gutter-width * 3 / 2;
							>span {
								padding: 0 @grid-gutter-width / 2;
								font-weight: 600;
								>i {
									
								}
								&.save-container {
									//color: #fff;
								}
							}
						}
						.clip-editing-holder {
							position: absolute;
							left: 0;
							right: 1px;
							bottom: -59%;
							transition: 0.3s;
							border: 1px solid @border;
							box-shadow: -3px -3px 3px @border;
							height: 60%;
							background-color: rgba(155, 155, 155, 0.7);
							z-index: 101;
							&.active {
								bottom: 0;
							}
							.regional-overlay-focusedediting-groupeditor {//editor view
								position: absolute;
								padding: @grid-gutter-width;
								left: 0;
								right: 0;
								top: 0;
								bottom: 0; //height: 100%;
								.edit-tabs {
									height: 30px; //fixed height, easier for control height for region="tabs"
									.tab {
										height: 100%;
										width: 70px;
										line-height: 29px;
										text-align: center;
										border-top: 1px solid #333;
										border-left: 1px solid #333;
										position: relative;
										z-index: 1;
										&:last-child {
											border-right: 1px solid #333;
										}
										&.active {
											color: @brand-primary;
											background-color: rgb(184, 184, 184);
										}
									}
								}
								.tab-contents {
									position: absolute;
									top: 29px + @grid-gutter-width;
									bottom: 85px + @grid-gutter-width;
									left: @grid-gutter-width;
									right: @grid-gutter-width;
									border-top: 1px solid #333;
									padding: @grid-gutter-width 0;
									text-align: left;
									.html-editors,
									.less-editors {
										.name-holder {
											>span {
												font-weight: 600;
											}
										}
										.editor {
											position: absolute;
											top: 40px;
											bottom: @grid-gutter-width;
											left: 0;
											right: 0;
										}
									}

									.form-group.editor.editor-basic {
										label+div {
											position: absolute;
											top: 40px;
											bottom: 15px;
											left: 0;
											right: 0;
											textarea {
												height: 100%;
												resize: none;
												background-color: rgba(255, 255, 255, 0.8);
											}
										}
									}
								}
								.datakey-editor-holder {
									position: absolute;
									height: 35px;
									bottom: 50px + @grid-gutter-width;
									left: @grid-gutter-width;
									right: @grid-gutter-width;
									label.control-label {
										text-align: left;
									}
									input {
										background-color: rgba(255, 255, 255, 0.8);
									}
								}
								.edit-buttons-holder {
									position: absolute;
									bottom: @grid-gutter-width;
									left: @grid-gutter-width;
									right: @grid-gutter-width;
									height: 35px;
								}
							}
						}
						.tabs {
							height: 40px;
							.tab {
								position: relative;
								z-index: 1;
								width: 100px;
								text-align: center;
								border-top: 1px solid @border;
								border-left: 1px solid @border;
								padding: @grid-gutter-width / 2 0;
								&:last-child {
									border-right: 1px solid @border;
								}
								&.active {
									border-top: 3px solid @border;
									border-left: 3px solid @border;
									border-right: 3px solid @border;
									background-color: #f0f0f0;
									+.tab {
										border-left: none;
									}
								}
								
								>span {
									font-weight: 600;
								}
							}
						}
						.region-tabs {
							border-top: 3px solid @border;
							//margin-top: -3px;
							text-align: left;//overcome overlay's text-center
							//height: 100%;
							position: absolute;
							left: 0;
							right: 0;
							bottom: 0;
							top: 48px;
							>div {
								height: 100%;
								//style sheet for view config
								.region-tab-view {
									//background-color: rgba(155, 155, 155, 0.5);
									height: 100%;
									>div {
										height: 100%;
										//position: relative; //for moving editing $el to the center
									}
								}
								//style sheet for data config
								.region-tab-data {
									height: 100%;
									overflow-y: auto;
									>div {
										height: 100%;
										padding: @grid-gutter-width;
										position: relative;
										.url-editor {
											padding: @grid-gutter-width 0 0 0;
											position: relative;
											display: none;
											.form-group {
												margin-bottom: 0;
											}
											label.control-label {
												//text-align: left;
											}
											.btn-holder {
												position: absolute;
												right: @grid-gutter-width;
												top: 45px;
												.btn {
													>span {
														font-weight: 600;
														padding: 0 @grid-gutter-width / 2;
													}
												}
											}
										}
										.data-editor {
											padding: @grid-gutter-width 0 0 0;
											textarea {
												resize: vertical;
												height: 400px;
												background-color: #000;
											}
										}
										.data-editor-holder {
											padding: @grid-gutter-width 0;
											.name-holder {
												text-align: left;
												>span {
													font-weight: 600;
												}
											}
											#data-ace-editor {
												margin-top: @grid-gutter-width;
												width: 100%;
												height: 500px;
											}
										}
										.switch-holder {
											width: 300px;
											.remote-switch {
												border: 1px solid #000;
												height: 40px;
												padding: 3px;
												.switch-inner {
													width: 100%;
													height: 100%;
													label {
														height: 100%;
														width: 100%;
														input[type="checkbox"] {
															display: none;
														}
														//initial state(unchecked)
														input[type="checkbox"]:not(:checked) + .slider {
															.inner-slider {
																background-color: @gray-light;
																left: 2px;
															}
															.local-text {
																color: #fff;
															}
															.remote-text {
																color: #aaa;
															}
														}
														input[type="checkbox"]:checked + .slider {
															.inner-slider {
																background-color: @brand-primary;
																left: 143px;
															}
															.local-text {
																color: #aaa;
															}
															.remote-text {
																color: #fff;
															}
														}
														.slider {
															height: 100%;
															width: 100%;
															position: relative;
															.local-text,
															.remote-text {
																display: inline-block;
																width: 50%;
																line-height: 40px - 2 * 3px - 2px;
																text-align: center;
																font-weight: 600;
																font-size: 0.9em;
																position: relative;
																z-index: 3;
															}
															.inner-slider {
																width: 50%;
																position: absolute;
																height: 40px - 2 * 3px - 2 * 3px;
																top: 2px;
																transition: .5s;
															}
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

//---------------------------------- styling sheet for popovers/overlays ----------------------------------//
.context-menu-view-popover {
	overflow-y: auto;
	.context-menu-view-popover-item {
		padding: @grid-gutter-width / 2;
		>span {
			font-weight: 600;
		}
		&:nth-child(even) {
			background-color: @background;
		}
	}
}

// [id^="flex-region-"] {
// 	overflow-x: auto !important;
// 	overflow-y: auto !important;
// 	//flex-basis: 100% !important;
// }