<!-- this is the layout svg view -->
<div region="layout"></div>
<!-- this is the guide lines -->
<div region="guide"></div>
<!-- this is the menu on hovering end points -->
<div region="arrows"></div>
<!-- region to block all interactions on svg -->
<div class="locker hidden">
	<div region="generate-view"></div>
</div>
<div class="view-menu hidden" region="view-menu"></div>
<!-- side menu -->
<div class="side-menu-trigger" action="side-menu">
	<i class="side-menu-trigger-icon fa fa-bars"></i>
	<i class="side-menu-trigger-icon fa fa-arrow-right hidden"></i>
</div>
<div class="side-menu-list" region="side-menu"></div>
<div class="region-cover hidden"></div>

