<!-- this is the layout svg view -->
<div region="layout"></div>
<!-- this is the guide lines -->
<div region="guide"></div>
<!-- this is the menu on hovering end points -->
<div region="arrows"></div>
<!-- region to block all interactions on svg -->
<div class="locker hidden"></div>
<!-- side menu -->
<div class="side-menu-trigger"><i class="fa fa-bars"></i><i class="fa fa-arrow-right hidden"></i></div>
<div class="side-menu-list wrapper">
	<div class="side-menu-item wrapper clearfix lock" action="lock">
		<span class="lock side-menu-item-text"><i class="fa fa-lock"></i> LOCK</span>
		<span class="unlock hidden side-menu-item-text"><i class="fa fa-unlock"></i> UNLOCK</span>
	</div>
	<div class="side-menu-item wrapper-2x wrapper-horizontal-2x side-menu-section">
		<span class="side-menu-item-text">OPERATIONS</span>
	</div>
	<div class="side-menu-item wrapper wrapper-horizontal-2x" action="save">
		<span class="side-menu-item-text"><i class="fa fa-floppy-o"></i> SAVE</span>
	</div>
	<div class="side-menu-item wrapper wrapper-horizontal-2x" action="generate">
		<span class="side-menu-item-text"><i class="fa fa-flash"></i> GENERATE</span>
	</div>
	<div class="side-menu-item wrapper wrapper-horizontal-2x" action="reset">
		<span class="side-menu-item-text"><i class="fa fa-close"></i> RESET</span>
	</div>
	<div class="side-menu-item wrapper-2x wrapper-horizontal-2x side-menu-section">
		<span class="side-menu-item-text">SAVED TEMPLATES</span>
	</div>
	<div class="side-menu-templates-holder"></div>
</div>

