<!-- this is the layout svg view -->
<div region="layout"></div>
<!-- this is the guide lines -->
<div region="guide"></div>
<!-- this is the menu on hovering end points -->
<div region="arrows"></div>
<!-- region to block all interactions on svg -->
<div class="locker hidden">
	<div region="generate-view"></div>
</div>
<div class="view-menu hidden">
	<div class="tabs clearfix">
		<div class="tab pull-left active" tab="view" action="active-menu-tab"><span>View</span></div>
		<div class="tab pull-left" tab="html" action="active-menu-tab"><span>HTML</span></div>
		<div class="tab pull-right" tab="data" action="active-menu-tab"><span>Data</span></div>
	</div>
	<div class="view-menu-middle-holder">
		<div class="view-content tab-content" content="view">
			<div class="view-menu-input-holder">
				<input type="text" id="view-search" placeholder="search">
			</div>
			<div class="view-menu-list"></div>
		</div>
		<div class="html-content tab-content hidden" content="html">
			<textarea id="html-editor" placeholder="please write your html here..."></textarea>
		</div>
		<div class="data-content tab-content hidden" content="data">
			<div class="data-input-holder clearfix">
				<div class="pull-left data-url-holder">
					<input type="text" id="data-url" placeholder="RESTful url..." disabled="true">
				</div>
				<div class="pull-left btn-holder">
					<div class="btn btn-block btn-link" action="data-fetch"><i class="fa fa-refresh"></i> <strong>Fetch</strong></div>
				</div>
				<div class="pull-left">
					<!-- <div class="btn btn-block btn-info" action="data-remote"><strong>Remote</strong></div> -->
					<ul id="remote-switch" class="pull-right">
						<li>
							<label class="switch">
								<input type="checkbox">
								<div class="slider">
									<span class="gui-text">LOCAL</span
									><span class="cli-text">REMOTE</span>
									<div class="inner-slider">
										<div class="fill-up"></div>
									</div>
								</div>
							</label>
						</li>
					</ul>
				</div>
			</div>
			<div class="data-editor-holder clearfix">
				<textarea id="data-editor" placeholder="enter your data or fetch remotely via RESTful API..."></textarea>
			</div>
		</div>
	</div>
	<div class="view-menu-button-holder clearfix">
		<div class="pull-left"><span class="btn btn-xs btn-success" action="view-add"><strong>APPLY</strong></span></div>
		<div class="pull-right"><span class="btn btn-xs btn-link" action="view-cancel"><strong>CANCEL</strong></span></div>
	</div>
</div>
<!-- side menu -->
<div class="side-menu-trigger" action="side-menu"><i class="side-menu-trigger-icon fa fa-bars"></i><i class="side-menu-trigger-icon fa fa-arrow-right hidden"></i></div>
<div class="side-menu-list">
	<div class="side-menu-item wrapper-2x wrapper-horizontal-2x side-menu-section clearfix">
		<span class="side-menu-item-text">CURRENT TEMPLATE</span>
		<div class="pull-right new-button-holder">
			<div class="new-button btn btn-xs btn-success" action="new-template"><strong>NEW</strong></div>
		</div>
	</div>
	<div class="side-menu-item wrapper wrapper-horizontal-2x current-name-holder">
		<span class="side-menu-item-text current-name">untitled</span>
	</div>
	<div class="side-menu-item wrapper-2x wrapper-horizontal-2x side-menu-section">
		<span class="side-menu-item-text">OPERATIONS</span>
	</div>
	<div class="operations-holder clearfix">
		<div class="operations-item left pull-left">
			<div class="operations-item lock-button wrapper-horizontal-2x"  action="lock">
				<span class="operations-subitem lock"><i class="fa fa-lock"></i> LOCK</span>
				<span class="operations-subitem unlock hidden"><i class="fa fa-unlock"></i> UNLOCK</span>
			</div>
			<div class="operations-item hide-button wrapper-horizontal-2x active" action="hide-end-points">
				<span class="operations-subitem hide-point hidden"><i class="fa fa-calendar"></i> MESH</span>
				<span class="operations-subitem show-point"><i class="fa fa-calendar-o"></i> UNMESH</span>
			</div>
		</div>
		<div class="operations-item right pull-right">
			<div class="operations-item wrapper wrapper-horizontal-2x" action="save">
				<span class="side-menu-item-text"><i class="fa fa-floppy-o"></i> SAVE</span>
			</div>
			<div class="operations-item wrapper wrapper-horizontal-2x" action="generate">
				<span class="side-menu-item-text"><i class="fa fa-flash"></i> GENERATE</span>
			</div>
			<div class="operations-item wrapper wrapper-horizontal-2x" action="reset">
				<span class="side-menu-item-text"><i class="fa fa-close"></i> RESET</span>
			</div>
		</div>
	</div>
	<div class="side-menu-item wrapper-2x wrapper-horizontal-2x side-menu-section">
		<span class="side-menu-item-text">SAVED TEMPLATES</span>
	</div>
	<div class="side-menu-templates-holder"></div>
</div>
<div class="region-cover hidden"></div>

