<div style="height: 100%; width: 100%; display: flex; flex-flow: column nowrap; justify-content: flex-start;" data-view-name="anonymous-view-40" data-render-count="1">
    <div style="flex: 19.8 1 0px; overflow: auto;" id="flex-region-1" region="gen-h-1" class="region region-gen-h-1">
        <div data-view-name="anonymous-view-48" data-render-count="1" style="height: 100%;">lalala
            <div svg="test" style="width: 100%; height: 100%;"><svg height="194" version="1.1" width="1264" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative;"><desc>Created with Raphaël 2.1.0</desc><defs></defs><path style="" fill="none" stroke="#000000" d="M0,0L10,20"></path></svg></div>
        </div>
    </div>
    <div style="flex: 0 0 3px;background-color: #ddd;"></div>
    <div style="flex: 80.2 1 0px; display: flex; flex-flow: row nowrap; justify-content: flex-start;" id="flex-region-4">
        <div style="flex: 25.56 1 0px; overflow: auto;" id="flex-region-2" region="gen-v-2" class="region region-gen-v-2">
            <div data-view-name="User.Banner" class="regional regional-user-banner" data-render-count="1" style="height: 100%;">
                <!-- related js: js/view/user/banner.js -->
                <h2>
                    <sup><i class="fa fa-quote-left"></i></sup> Stage.js - template for <strong>User.Banner</strong> of type: VIEW <i class="fa fa-exclamation"></i>
                    <sup><i class="fa fa-quote-right"></i></sup>
                </h2>
                <div editor="test-editor-banner">
                    <div class="editor editor-basic" data-view-name="Basic.text.test-editor-banner" data-render-count="1">
                        <div class="" data-toggle="tooltip" title="" data-original-title="">
                            <div class="text"><input ui="input" name="basic-editor-55" class="form-control" id="basic-editor-55" placeholder="" value="" type="text">
                                <!--1 space-->
                            </div><span class="help-block editor-status-text input-error" ui="msg"></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div style="flex: 0 0 3px;background-color: #ddd;"></div>
        <div style="flex: 74.44 1 0;" id="flex-region-3" region="gen-v-3" class="region region-gen-v-3"></div>
    </div>
</div>