<!-- related js: js/view/user/content.js -->
<h2>
    <sup><i class="fa fa-quote-left"></i></sup>
    Stage.js - template for <strong>User.Content</strong> of type: VIEW <i class="fa fa-exclamation"></i>
    <sup><i class="fa fa-quote-right"></i></sup>
</h2>
<h3>hello:</h3><h3>{{hello}}</h3>
<h3>content:</h3><h3>{{content}}</h3>

<div style="height: 50px;width: 50px;">
	<div svg="test-svg1"></div>
</div>
<div style="height: 50px;width: 50px;">
	<div svg="test-svg2"></div>
</div>
<div style="height: 50px;width: 50px;">
	<div svg="svg3"></div>
</div>
<div editor="test-editor"></div>